<div class="row">
  <div class="col-lg-6 col-sm-12">
    <div class="card product-card p-0">
      <img src="#" class="card-img-top product-tumb" />
      <div class="card-body product-details">
        <span class="product-catagory">商品分類</span>
        <h4><%= @product.name %></h4>
        <p><%= @product.description %></p>
      </div>
      <div class="row row-cols-12 product-bottom-details p-3">
        <div class="col product-price px-3">NT : <%= @product.price %></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12">
    <div class="row justify-content-center">
        <%= render "form", product: @product, url: dashboard_admin_product_path(@product) %>
    </div>
  </div>
</div>
